.button-box {
  background-color: #f5f5ff;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  max-width: 100%;
  height: auto;
  margin: 3px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  justify-content: space-between;
}

.button-row div{
  flex: 0 0 calc(50% - 5px);
}
.show-all-button{
  margin-top: 0;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 48%;
}

.button-box.expanded .all-buttons {
  display: flex;
}

.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: none;
  margin: 18px;
  position:absolute ;
  bottom: -9px; /* Adjust this value as needed */
  left: 0;
  width: 201rex;
  max-width: 100%; /* Make the button full width */
  border-radius: 8px;
  height: 35px;
  
}

.close-button:hover {
  background-color: #0056b3;
}

.compact-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.compact-buttons div{
  flex: 0 0 calc(50% - 10px);
  display: flex;
  align-items: center;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #202938;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  width: 50%s;
  height: 37px;
}
.all-buttons div {
  flex: 0 0 calc(50% - 8px);
  display: flex;
  align-items: center;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #202938;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  position: relative;
  
}
.all-buttons:hover div {
  flex: 0 0 calc(50% - 8px);
  display: flex;
  align-items: center;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #202938;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  position: relative;
  
}
.all-buttons {
  padding: 18px;
  display: none;
  flex-wrap: wrap;
  max-height: 190px; /* Set the maximum height */
  overflow-y: auto; /* Hide the vertical scrollbar */
  margin-bottom: 38px;
  gap: 7px;
  scrollbar-color:#777 ;
}


.compact-buttons div:hover,
.all-buttons div:hover {
  background-color: #262e3a;
}

.all-buttons::-webkit-scrollbar {
  width: 1vw; /* Width of the scrollbar */
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 5s ease-in-out; /* Add a smooth transition effect */
}

.all-buttons:hover::-webkit-scrollbar {
  opacity: 5; /* Show the scrollbar on hover */
}

.all-buttons::-webkit-scrollbar-thumb {
  background-color: #555 ; /* Color of the thumb */
  border-radius: 15px; /* Rounded corners of the thumb */
}
.all-buttons::-webkit-scrollbar-track {
  background-color: #777;
  border-radius: 15px;
  height: 50px;
}

.compact-buttons a,
.compact-buttons button,
.all-buttons a,
.all-buttons button{
  text-decoration: none;
  margin-right: 5px;
  border: none;
  display: block;
}
.compact-buttons button, 
.all-buttons button{
  margin-left: 32rex;
  background: none;
  height: 25px;
  align-items: normal;
}
.all-buttons img,
.compact-buttons img{
  height: 27px;
}
.all-buttons a,
.compact-buttons a{
  color: white;
  margin-right: 40rex;
}