/* sidebar-styles.css */
.sidebar {
  width: 300px;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000; /* Ensure sidebar is above other content */
}

.sidebar.active {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidebar-header button {
  background: none;
  border: none;
  color: #f39c12;
  cursor: pointer;
  font-size: 16px;
}

.trending-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.trending-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.trending-number {
  --number-color: #f39c12; /* Default color for the numbering */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  margin-right: 15px;
  background-color: var(--number-color); /* Use the variable for the background color */
}

.trending-content {
  display: flex;
  align-items: center;
}

.trending-content img {
  width: 85px; /* Increase the width to make the image bigger */
  height: 95px; /* Adjust the height accordingly */
  margin-right: 15px;
  object-fit: contain;
}
.file-details {
  display: flex;
  flex-direction: column;
}

.file-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.rating {
  font-size: 16px;
  color: #888;
}


.sidebar-header h2 {
  font-size: 18px;
  margin: o;
  color: #333;/* Add left margin to align text with image */
}

.sidebar-header img#toggleSidebarBtn {
  width: 30px; /* Adjust the width of the image */
  height: 30px; /* Adjust the height of the image */
  cursor: pointer;
  margin-right: 15px; /* Add right margin to space the image from the header */
}
.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  top: 310px; /* Adjust top position as needed */
  right: 60px; /* Adjust left position to move it outward */
  z-index: 999; /* Ensure the button appears above other content */
}
.toggle-btn img {
  width: 24px; /* Adjust image width */
  height: 24px; /* Adjust image height */
}
#closeSidebarBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Adjust font size for mobile */
  color: #f39c12; /* Apply your desired color */
  /* Adjust margin and padding as needed */
}
/* Media query for screens with a maximum width of 768px */







